.jumbotron {
	margin-top: 1em;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
	padding: 2em;
	width: 90%;
}

.form-control {
	margin-bottom: 1em;
}

.alert {
	display: block;
}

.radius {
	border-radius: 5px;
}

.bg--green {
	background-color: #A8D270 !important;
}

.text--bold {
	font-weight: bold;
}

.text--center {
	text-align: center;
}

@media screen and (min-width: 768px) {
	.jumbotron {
		width: 50%;
	}
}
